// overrides hmrc-header css language toggle focus styles
.hmrc-language-select {
  .govuk-list {
    a {
      &:focus {
        color: govuk-colour("black") !important;
        background-color: govuk-colour("yellow")
      }
    }
  }
  text-decoration: none;
}

// includes the govuk-radios__conditional--hidden class and others which are
// inexplicably missing from govuk-frontend (as of 3.13.0), and without which
// the hiding of conditional content under radio/check boxes does not work.

.govuk-radios__conditional.govuk-radios__conditional--hidden {
  display: none
}

.govuk-radios__conditional > :last-child {
  margin-bottom: 0
}

.govuk-checkboxes__conditional.govuk-checkboxes__conditional--hidden {
  display: none
}
