@import "lib/govuk-frontend/dist/govuk/base";
@import 'partials/_loading-please-wait';
@import 'partials/_forms';

@media (min-width: 40.0625em){
  .govuk-header__logo {
  // This service has a long name and we make some adjustments to avoid it wrapping onto two lines in the header
    width: 25% !important;
  }
  .govuk-header__content {
    width: 70%;
  // This service has a long name and we make some adjustments to avoid it wrapping onto two lines in the header
    white-space: nowrap;
  }
}